.menu
  font-family: $font-roboto
  font-size: 0
  @include breakpoint(max-width 768px)
    position: fixed
    z-index: 1
    top: 0
    left: 0
    @include size(220px, 100%)
    transform: translateX(-100%)
    background-color: #333
    transition: all .3s ease

  &__item
    position: relative
    display: inline-block
    padding: 0 3px 0 28px
    line-height: 60px
    font-size: 16px
    font-weight: 400
    color: #fff
    border: none
    text-decoration: none
    @include transition(color)
    @include breakpoint(max-width 768px)
      display: block
      margin: 0 20px

    &:before
      position: absolute
      top: 0
      left: 0
      @include size(100%, 3px)
      content: ''
      background-color: $color-red
      transform: scale(0)
      opacity: 0
      will-change: opacity, transform
      transition: opacity .3s ease, transform .3s ease

      @include breakpoint(max-width 768px)
        @include size(3px, 100%)
        left: auto
        right: -20px

    .icon
      position: absolute
      fill: #fff
      top: 50%
      left: 3px
      transform: translateY(-50%)

    &:hover,
    &_state_active
      color: $color-red

      &:before
        transform: scale(1)
        opacity: 1

      .icon
        fill: $color-red

    & + &
      @include breakpoint(769px)
        margin-left: 25px

  &__logo
    display: none
    padding: 8px 20px
    fill: #fff
    opacity: .5
    @include breakpoint(max-width 768px)
      display: block

    .icon
      @include size(88px, 24px)

  &__social
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    opacity: .5
    padding-left: 20px
    display: none
    @include breakpoint(max-width 768px)
      display: block
