extends ../layouts/default

block head
    - title = 'Kursomir'
    - pageId = 1

block content-header
    .content-header.description

        .container
            .content-main.left
                .description__label.label 21 марта
                h1.font-40 Екатеринбуржец открывает россиянам лучший технический вуз США

            .content-sidebar

                .social.social_p_0
                    a.social__twitter.social__link.social__link_type_round(href= jv0): +icon("twitter")
                    a.social__facebook.social__link.social__link_type_round(href= jv0): +icon("facebook")
                    a.social__vk.social__link.social__link_type_round(href= jv0): +icon("vk")


block content
    .container.container_mt_40
        .content.content-sidebar
            .sidebar
                h3.sidebar-title Из недавнего

                .text-news
                    .text-news__date 3 апреля 2016
                    a.text-news__title(href= jv0)
                        | Телескоп впервые снял ударную вспышку сверхновой в видимом диапазоне

                .text-news
                    .text-news__date 3 апреля 2016
                    a.text-news__title(href= jv0)
                        | Телескоп впервые снял ударную вспышку сверхновой в видимом диапазоне

                .text-news
                    .text-news__date 3 апреля 2016
                    a.text-news__title(href= jv0)
                        | Телескоп впервые снял ударную вспышку сверхновой в видимом диапазоне

                .text-news
                    .text-news__date 3 апреля 2016
                    a.text-news__title(href= jv0)
                        | Телескоп впервые снял ударную вспышку сверхновой в видимом диапазоне

        .content.content-main
            .content-inner

                p.text.text_italic.text_light
                    | Массачусетский технологический институт (MIT), выпускниками которого являются десятки нобелевских
                    | лауреатов и даже Тони Старк из «Железного человека», – пионер свободного доступа к академическим
                    | знаниям. Уже 15 лет многие лекции профессоров MIT записываются на видео и выкладываются в интернет на
                    | официальном портале. Совсем недавно институт открыл доступ ко всем своим учебным материалам, после
                    | чего группа добровольцев из России решила перевести все лекции на русский язык и создать специальный
                    | сайт. IMC поговорил с одним из организаторов этого проекта — Иваном Оловянниковым из Екатеринбурга.

                p.text.text_bold
                    | – Почему вы заинтересовались тем, что Массачусетский технологический институт выложил в открытый
                    | доступ лекции своих профессоров? Почему это так важно?

                p.text
                    | – Среди всех технических вузов в мире Массачусетский технологический институт занимает ведущее место.
                    | Это Топ № 1. Для того чтобы учиться в этом вузе, обычному смертному надо платить 58,5 тысячи долларов
                    | в год, то есть почти 4,5 миллиона рублей по нынешнему курсу. В MIT преподают самые лучшие преподаватели
                    | в мире. Все пользующиеся смартфонами и почти любыми новыми девайсами должны быть благодарны именно
                    | этому институту. Большинство открытий происходит именно в нем.

                p.text.text_bold
                    | – То есть в MIT не только обучение, но и разработки?

                p.text
                    | – Каждый студент там имеет доступ к научно-исследовательским лабораториям, в которых они могут
                    | спокойно заниматься изучением чего-либо, совершать новые открытия. Почти каждый месяц они совершают
                    | какие-то технологические прорывы. Научные сотрудники и выпускники этого университета ценятся везде.
                    | Например, многие инженеры, которые выпускаются из MIT, как правило, работают в NASA, конструируют для
                    | Международной космической станции. Это очень крутые кадры. Их сразу принимают на работу почти без
                    | собеседования в Microsoft, Apple.

                p.text.text_bold
                    | – И сейчас руководство MIT решило выложить в открытый доступ и опубликовать лекции своих профессоров?

                p.text
                    | – Последние курсы, лекции, видео, аудиозаписи они опубликовали относительно недавно. Но какую-то
                    | огласку этому не придавали. Сейчас эта информация появилась в Сети.– Действительно выложили все
                    | лекции?– Да, все курсы. Есть компьютерная безопасность, IT-технологии, архитектура, политология,
                    | психология, огромный курс по философии. Очень сильно хочу его почитать. Жду, когда ребята его уже
                    | переведут.

        .content.content-main
            .content-inner
                    .tab-panel
                        .tab.tab_state_active Комментарии к новости (999)
                        .tab Мои сообщения

                    .tab-container
                        .tab-display.tab-display_state_active
                            include ../partials/comment
                        .tab-display

block content-more
    .content-more.container


