extends ../layouts/default

block head
    - title = 'Kursomir'
    - pageId = 1

block content-header
    .content-header
        .container
            h1 Наша команда

    +tabs([
        ['Абминистрация', 0],
        ['Разработчики', 0],
        ['Переводчики', 1],
        ['Редакторы', 0]
    ], 'big')

block content
    .container.container_mt_40

        .content-col.content-col_pl_0

            .content.collaborator
                .content-inner.collaborator__container
                    .collaborator__name.collaborator__name_ta_l Название направления

                    .collaborator__descr.collaborator__descr_inline Руководитель направления:
                    .text Имя Фамилия

                    .collaborator__descr.collaborator__descr_inline Переводчики:
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия

            .content.collaborator
                .content-inner.collaborator__container
                    .collaborator__name.collaborator__name_ta_l Название направления

                    .collaborator__descr.collaborator__descr_inline Руководитель направления:
                    .text Имя Фамилия

                    .collaborator__descr.collaborator__descr_inline Переводчики:
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия

        .content-col.content-col_pr_0

            .content.collaborator
                .content-inner.collaborator__container
                    .collaborator__name.collaborator__name_ta_l Название направления

                    .collaborator__descr.collaborator__descr_inline Руководитель направления:
                    .text Имя Фамилия

                    .collaborator__descr.collaborator__descr_inline Переводчики:
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия

            .content.collaborator
                .content-inner.collaborator__container
                    .collaborator__name.collaborator__name_ta_l Название направления

                    .collaborator__descr.collaborator__descr_inline Руководитель направления:
                    .text Имя Фамилия

                    .collaborator__descr.collaborator__descr_inline Переводчики:
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия

            .content.collaborator
                .content-inner.collaborator__container
                    .collaborator__name.collaborator__name_ta_l Название направления

                    .collaborator__descr.collaborator__descr_inline Руководитель направления:
                    .text Имя Фамилия

                    .collaborator__descr.collaborator__descr_inline Переводчики:
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия
                    .text.text_indent_10 Имя Фамилия

block content-more
    .content-more.container
