extends ../layouts/default

block head
    - title = 'Kursomir'
    - pageId = 1

block content-header
    .content-header
        .container
            h1 Наша команда

    +tabs([
        ['Абминистрация', 1],
        ['Разработчики', 0],
        ['Переводчики', 0],
        ['Редакторы', 0]
    ], 'big')

block content
    .container.container_mt_40

            .content-col.content-col_w_33p

                .content.collaborator
                    .collaborator__container
                        .collaborator__avatar.avatar: img(src="")
                        a.collaborator__name(href= jv0 target="_blank") Alexander Grothendieck
                        .collaborator__post Основатель и царь-батюшка

                    .collaborator__descr
                        | Сейчас зонд New Horizons находится уже на расстоянии в 300 миллионов километров от Плутона,
                        | продолжая передавать ценную информацию о планетоиде. Ряд данных, отправленных аппаратом совсем
                        | недавно, может являться подтверждением существования на поверхности Плутона

                .content.collaborator
                    .collaborator__container
                        .collaborator__avatar.avatar: img(src="")
                        a.collaborator__name(href= jv0 target="_blank") Alexander Grothendieck
                        .collaborator__post Основатель и царь-батюшка

                    .collaborator__descr
                        | Сейчас зонд New Horizons находится уже на расстоянии в 300 миллионов километров от Плутона,
                        | продолжая передавать ценную информацию о планетоиде. Ряд данных, отправленных аппаратом совсем
                        | недавно, может являться подтверждением существования на поверхности Плутона

            .content-col.content-col_w_33p
                .content.collaborator
                    .collaborator__container
                        .collaborator__avatar.avatar: img(src="")
                        a.collaborator__name(href= jv0 target="_blank") Alexander Grothendieck
                        .collaborator__post Основатель и царь-батюшка

                    .collaborator__descr
                        | Сейчас зонд New Horizons находится уже на расстоянии в 300 миллионов километров от Плутона,
                        | продолжая передавать ценную информацию о планетоиде. Ряд данных, отправленных аппаратом совсем

                .content.collaborator
                    .collaborator__container
                        .collaborator__avatar.avatar: img(src="")
                        a.collaborator__name(href= jv0 target="_blank") Alexander Grothendieck
                        .collaborator__post Основатель и царь-батюшка

                    .collaborator__descr
                        | Сейчас зонд New Horizons находится уже на расстоянии в 300 миллионов километров от Плутона

            .content-col.content-col_w_33p
                .content.collaborator
                    .collaborator__container
                        .collaborator__avatar.avatar: img(src="")
                        a.collaborator__name(href= jv0 target="_blank") Alexander Grothendieck
                        .collaborator__post Основатель и царь-батюшка

                    .collaborator__descr
                        a.link.link_type_mail(href="mailto:email@gmail.com") email@gmail.com

block content-more
    .content-more.container

