extends ../layouts/default

block head
    - title = 'Kursomir'
    - pageId = 1

block content-header
    .content-header
        .container
            h1 Переводы лекций
            .content-header__subtitle Массачусетского технологического института

    include ../partials/tab-courses

block content
    .container.container_mt_40
        .content-col.content-col_pl_0

            .course-list.content.architecture
                .course-list__title
                    span Архитектура и планирование

                ul.course-list__order
                    li.course-list__item
                        a.link(href= jv0) Архитектура
                    li.course-list__item
                        a.link(href= jv0) СМИ искусств и наук
                    li.course-list__item
                        a.link(href= jv0) Городских исследований и планирования

            .course-list.content.engineering
                .course-list__title
                    span Инженерия

                ul.course-list__order
                    li.course-list__item
                        a.link(href= jv0) Аэронавтики и астронавтики
                    li.course-list__item
                        a.link(href= jv0) Биоинженерия
                    li.course-list__item
                        a.link(href= jv0) Химическая инженерия
                    li.course-list__item
                        a.link(href= jv0) Гражданской и экологической инженерии
                    li.course-list__item
                        a.link(href= jv0) Электротехника и вычислительная техника
                    li.course-list__item
                        a.link(href= jv0) Отдел инженерных систем
                    li.course-list__item
                        a.link(href= jv0) Медицинских наук и технологии
                    li.course-list__item
                        a.link(href= jv0) Материалы Наука и техника
                    li.course-list__item
                        a.link(href= jv0) Машиностроение
                    li.course-list__item
                        a.link(href= jv0) Ядерная наука и техника

            .course-list.content.other
                .course-list__title
                    span Другие программы

                ul.course-list__order
                    li.course-list__item
                        a.link(href= jv0) Атлетика, Физическое воспитание, отдых и развлечения
                    li.course-list__item
                        a.link(href= jv0) Стечение
                    li.course-list__item
                        a.link(href= jv0) Эджертон центр
                    li.course-list__item
                        a.link(href= jv0) Экспериментальное исследование группы

        .content-col.content-col_pr_0

            .course-list.content.art
                .course-list__title
                    span
                        | Искусство, гумунитарные и
                        br
                        | социальные науки

                ul.course-list__order
                    li.course-list__item
                        a.link(href= jv0) Архитект

                    li.course-list__item
                        a.link(href= jv0) Антропология

                    li.course-list__item
                        a.link(href= jv0) Сравнительные исследования СМИ / Письменные

                    li.course-list__item
                        a.link(href= jv0) Экономика

                    li.course-list__item
                        a.link(href= jv0) Глобальные исследования и Языки

                    li.course-list__item
                        a.link(href= jv0) История

                    li.course-list__item
                        a.link(href= jv0) Лингвистика и философия

                    li.course-list__item
                        a.link(href= jv0) Литература

                    li.course-list__item
                        a.link(href= jv0) Музыка и театральное искусство

                    li.course-list__item
                        a.link(href= jv0) Политическая наука

                    li.course-list__item
                        a.link(href= jv0) Наука, технология и общество

                    li.course-list__item
                        a.link(href= jv0) Женщины и гендерных исследованийура

                    li.course-list__item
                        a.link(href= jv0) СМИ искусств и наук

                    li.course-list__item
                        a.link(href= jv0) Городских исследований и планирования

            .course-list.content.natural
                .course-list__title
                    span Естественные науки

                ul.course-list__order
                    li.course-list__item
                        a.link(href= jv0) Биология

                    li.course-list__item
                        a.link(href= jv0) Мозг и когнитивных наук

                    li.course-list__item
                        a.link(href= jv0) Химия

                    li.course-list__item
                        a.link(href= jv0) Земли, атмосферы и планетарных наук

                    li.course-list__item
                        a.link(href= jv0) Математика

                    li.course-list__item
                        a.link(href= jv0) Физика

block content-more
    .content-more.container
