.comment

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        textarea.comment__input(placeholder="Присоедениться к обсуждению...")

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд
        .comment__date 21 марта в 18:12
        .comment__text.text Ну, спасибо всем, я в магазин пошел. Точн, а лук надо?
        .comment__action Ответить
        .comment__action Поделиться

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд
        .comment__date 21 марта в 18:12
        .comment__text.text Не, к ногам не надо. Если в картошечку только.
        .comment__action Ответить
        .comment__action Поделиться

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд
        .comment__date 21 марта в 18:12
        .comment__text.text Ну так картошечка то с ногами печься будет.
        .comment__action Ответить
        .comment__action Поделиться

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд
        .comment__date 21 марта в 18:12
        .comment__text.text
            | Тогда не надо. Воды много будет
            br
            | Хотя.... Если душа просит? То почему бы и нет)))
            br
            | Хотя.... Если душа просит? То почему бы и нет)))
            br
            | Хотя.... Если душа просит? То почему бы и нет)))

        .comment__action Ответить
        .comment__action Поделиться

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд
        .comment__date 21 марта в 18:12
        .comment__text.text
            | не просит, она еще не проголодалась...
            br
            | только это желудок

        .comment__action Ответить
        .comment__action Поделиться

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд
        .comment__date 21 марта в 18:12
        .comment__text.text
            | А я люблю мясо по-французски
            br
            | Мясо майонезом намазал и в духовку на 40 минут, всё

        .comment__action Ответить
        .comment__action Поделиться

    .comment-item
        .comment__avatar
            .avatar: +icon("avatar")

        .comment__name Геральд-3455455_Геральд-3455455 Геральд-3455455_Геральд-3455455
        .comment__date 21 марта в 18:12
        .comment__text.text
            | А я люблю мясо по-французски А я люблю мясо по-французски А я люблю мясо по-французски А я люблю мясо
            | по-французски А я люблю мясо по-французски А я люблю мясо по-французски А я люблю мясо по-французски
            br
            | Мясо майонезом намазал и в духовку на 40 минут, всё

        .comment__action Ответить
        .comment__action Поделиться

