footer.footer

    .container
        .footer__logo.left
            a(href="/"): +icon("logo")
            
        .footer__social.right
            .social.social_icon-color_gray
                a.social__link(href= jv0): +icon("twitter")
                a.social__link(href= jv0): +icon("facebook")
                a.social__link(href= jv0): +icon("vk")
                a.social__link(href= jv0): +icon("telegram")
                
        .footer__copyright Copyright © 2016 Курсомир

