head
  meta(charset="utf-8")
  meta(name='yandex-verification' content='503d8909f76eb7ce')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  link(href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic,700,700italic" rel="stylesheet")
  link(href="/assets/styles/common.min.css?#{timestamp}" rel="stylesheet")


  block head
  title= title || "Kursomir"
