header.header.js-header

  .container

    +logo().left

    +nav([
      {
        id: 0,
        label: "Курсы",
        href: jv0,
        icon: "glass"
      },
      {
        id: 1,
        label: "Новости",
        href: jv0,
        icon: "news"
      },
      {
        id: 2,
        label: "О проекте",
        href: jv0,
        icon: "info"
      },
      {
        id: 3,
        label: "Команда",
        href: jv0,
        icon: "team"
      }
    ])
