include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang="ru-RU")
    include ../partials/head

    body
        .main(class= mainClass ? mainClass : "")
            include ../partials/header
                
            .content-header
                block content-header
            
            .content.container
                block content
                    
            block content-more
                    
            include ../partials/footer
                
        #js-go-top.top

        block script
            script(src="/assets/scripts/common.min.js")
