include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang="ru-RU", style={'background-color': 'rgba(0, 0, 0, .5)'})
  include ../partials/head

  body(style={'background-color': 'rgba(0, 0, 0, .5)'})
    .main.js-main(class= mainClass ? mainClass : "")
      header.header.js-header

        .container.container_full

          +logo().left
          a.header__logo.left(href="/"): +icon("logo")

          +nav([
            {
              id: 0,
              label: "Курсы",
              href: jv0,
              icon: "glass"
            },
            {
              id: 1,
              label: "Новости",
              href: "news.html",
              icon: "news"
            },
            {
              id: 2,
              label: "О проекте",
              href: jv0,
              icon: "info"
            },
            {
              id: 3,
              label: "Команда",
              href: jv0,
              icon: "team"
            }
          ])

          .header__menu.js-menu-toggle
            +icon("menu")

      block content

      footer.footer.footer_bg_tr

        .container.container_full

          .footer__social.right
            .social
              a.social__link(href= jv0): +icon("twitter")
              a.social__link(href= jv0): +icon("facebook")
              a.social__link(href= jv0): +icon("vk")
              a.social__link(href= jv0): +icon("telegram")

          .footer__note * Massachusetts Institute of Technology

    block script
      script(src="/assets/scripts/common.min.js")

